[submodule "external/rcursor.h"]
	path = external/rcursor.h
	url = https://github.com/UnknownRori/rcursor.h
[submodule "external/nob.h"]
	path = external/nob.h
	url = https://github.com/UnknownRori/nob.h
[submodule "external/rstb"]
	path = external/rstb
	url = https://github.com/UnknownRori/rstb
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/UnknownRori/stb
